In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('modelcraftdata.csv', encoding='latin-1')

In [4]:
df.head()

,Timestamp,What is your gender,Year of graduation,Title of course studied,Polytechnic/University attended,What is your highest level of education?,What best describes your current status?,How many jobs have you had since graduation including your current one?,Have you completed your NYSC?,"If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?",...,What currency are you currently paid in?,Approximately how many hours a day do you currently work?,"As far as you are aware, what was most important to your current employer about your qualification?",How do you find out about your job(s)?,"Thinking about your current employment, did you work for your employer before or during your higher education study?",Which form of transport do you use the most?,Were you able to rent an apartment or buy a car from the salary you got from your first job?,My course of study prepared me well for employment,My course of study prepared me well for further studies,Which of these skills/knowledge did your higher education prepare you for?
0,2/8/2018 9:05:23,Male,2013,Electrical & Electronic Engineering,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),3,NaN,NaN,...,Naira,8.0,No one thing was important,Internship,No,Bus,Yes: From my first job,No,No,"Critical thinking skills, Ability to solve com..."
1,2/15/2018 12:11:32,Male,2014,Psychology,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Working full time (paid employment),2,Yes,2017.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,Internship,No,BRT,No: From my current job,Strongly Disagree,Agree,"Critical thinking skills, Ability to solve com..."
2,2/15/2018 13:47:10,Female,2013,Economics,"Bells University of Technology, Otta",Bachelor's degree,Working full time (paid employment),2,Yes,NaN,...,Naira,14.0,The subject(s) I studied,Employer's website,No,Uber/Taxify/Taxi services,No: From my current job,Disagree,Agree,"Ability to work with others, Written communica..."
3,2/16/2018 13:01:34,Male,2017,Mass Communication (Communication and Language...,"Bowen University, Iwo",Master's degree,Self-employed/freelance/entrepreneur,0,Yes,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/16/2018 13:18:03,Female,2013,Statistics,Ekiti State University,Bachelor's degree,Working full time (paid employment),3,Yes,2016.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Agree,Critical thinking skills

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5219 entries, 0 to 5218
Data columns (total 36 columns):
 #   Column                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                        --------------  -----
 0   Timestamp                                                                                                                     5219 non-null   object
 1   What is your gender                                                                                                           5219 non-null   object
 2   Year of graduation                                                                                                            5219 non-null   int64
 3   Title of course studied                                                                                                       5219 non-null   object
 4   Polytechnic/University attended                                                                                               5219 non-null   object
 5   What is your highest level of education?                                                                                      5219 non-null   object
 6   What best describes your current status?                                                                                      5219 non-null   object
 7   How many jobs have you had since graduation including your current one?                                                       5219 non-null   int64
 8   Have you completed your NYSC?                                                                                                 5218 non-null   object
 9   If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?                     4278 non-null   float64
 10  Did you get your first full time job through your NYSC placement?                                                             5218 non-null   object
 11  Thinking about your first employment after graduation, what was your job level?                                               1656 non-null   object
 12  What is/was your job role?                                                                                                    1654 non-null   object
 13  What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication)                                       1656 non-null   object
 14  Still thinking about your first employment, what is/was your monthly income level?                                            1656 non-null   object
 15  Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?  1656 non-null   object
 16  What was the most significant reason for deciding to take your first job?                                                     1656 non-null   object
 17  Thinking about your current employment, what is your job level?                                                               3432 non-null   object
 18  What is your job role?                                                                                                        3431 non-null   object
 19  What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication).1                                     3432 non-null   object
 20  What is your current monthly income level?                                                                                    3432 non-null   object
 21  Did you need your higher education qualification to get this job (the actual qualification, not the subject of study)?        3431 non-null   object
 22  What was the most significant reason for deciding to take this job?                                                           3432 non-null   object
 23  Which employer in the country do you think offers the best opportunities for graduates?                                       2958 non-null   object
 24  Reason why?                                                                                                                   3109 non-null   object
 25  Which sector is your most preferred sector to work in?                                                                        3297 non-null   object
 26  What currency are you currently paid in?                                                                                      3432 non-null   object
 27  Approximately how many hours a day do you currently work?                                                                     3432 non-null   float64
 28  As far as you are aware, what was most important to your current employer about your qualification?                           3432 non-null   object
 29  How do you find out about your job(s)?                                                                                        3432 non-null   object
 30  Thinking about your current employment, did you work for your employer before or during your  higher education study?         3432 non-null   object
 31  Which form of transport do you use the most?                                                                                  3432 non-null   object
 32  Were you able to rent an apartment or buy a car from the salary you got from your first job?                                  3432 non-null   object
 33  My course of study prepared me well for employment                                                                            3432 non-null   object
 34  My course of study prepared me well for further studies                                                                       3432 non-null   object
 35  Which of these skills/knowledge did your higher education prepare you for?                                                    3432 non-null   object
dtypes: float64(2), int64(2), object(32)
memory usage: 1.4+ MB

In [6]:
df.sample(50)

,Timestamp,What is your gender,Year of graduation,Title of course studied,Polytechnic/University attended,What is your highest level of education?,What best describes your current status?,How many jobs have you had since graduation including your current one?,Have you completed your NYSC?,"If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?",...,What currency are you currently paid in?,Approximately how many hours a day do you currently work?,"As far as you are aware, what was most important to your current employer about your qualification?",How do you find out about your job(s)?,"Thinking about your current employment, did you work for your employer before or during your higher education study?",Which form of transport do you use the most?,Were you able to rent an apartment or buy a car from the salary you got from your first job?,My course of study prepared me well for employment,My course of study prepared me well for further studies,Which of these skills/knowledge did your higher education prepare you for?
1509,3/2/2018 17:21:51,Male,2013,Sociology/Anthropology,University of Lagos,MBA degree,Working full time (paid employment),1,Yes,2013.0,...,Naira,11.0,The level of study,"Personal contacts, including family and friends",No,Car,No,Disagree,Disagree,"Critical thinking skills, Ability to solve com..."
3412,3/28/2018 0:32:45,Female,2017,Biochemistry,Covenant University Ota,Bachelor's degree,Youth Corper (NYSC),0,Ongoing,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,2/25/2018 21:36:24,Male,2017,Political Science,University of Ilorin,Bachelor's degree,Youth Corper (NYSC),0,Ongoing,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4925,5/3/2018 15:21:16,Male,2014,Accountancy,"Federal Polytechnic Ede, Osun State.",Higher National Diploma (HND),Self-employed/freelance/entrepreneur,1,Yes,2015.0,...,Naira,4.0,The level of study,Media (e.g. newspaper/magazine advertisement),No,BRT,No: From my current job,Agree,Agree,None of the above
4680,4/30/2018 10:14:45,Female,2016,Food Science and Technology,"Federal Polytechnic Ilaro, Ogun State.",Higher National Diploma (HND),Self-employed/freelance/entrepreneur,1,Yes,2017.0,...,Naira,8.0,Don't know,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Agree,None of the above
3510,4/3/2018 7:31:06,Female,2017,Accountancy,University of Benin,Bachelor's degree,Unemployed,1,No,NaN,...,Naira,11.0,The level of study,Recruitment agency/Online job site,No,Commercial Vehicles,No,Agree,Agree,Ability to work with others
2752,3/15/2018 14:14:36,Female,2017,Microbiology,"University of Agriculture, Abeokuta.",Bachelor's degree,Unemployed,0,Ongoing,2019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
491,2/26/2018 3:51:21,Male,2015,Geography,University of Ibadan,Bachelor's degree,Voluntary or other unpaid work or on an intern...,3,Yes,2016.0,...,Naira,9.0,The level of study,Recruitment agency/Online job site,No,Motorcycle,No,Strongly Disagree,Agree,Ability to work with others
2437,3/10/2018 0:37:11,Male,2016,Estate Management,University of Lagos,Master's degree,Working full time (paid employment),1,Yes,2015.0,...,Naira,10.0,The level of study,"University/polytechnic (e.g. Careers Service, ...",No,Commercial Vehicles,No,Strongly Agree,Strongly Agree,Knowledge of the skill(s) you are studying
4972,5/4/2018 15:42:37,Female,2017,Computer Engineering,Covenant University Ota,Bachelor's degree,Youth Corper (NYSC),2,Ongoing,2018.0,...,Naira,8.0,The subject(s) I studied,Employer's website,No,Uber/Taxify/Taxi services,No,Agree,Agree,"Critical thinking skills, Ability to work with..."
260,2/24/2018 12:09:33,Female,2017,Christian Religious Studies,University of Lagos,Bachelor's degree,Unemployed,0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3062,3/25/2018 19:28:52,Male,2017,Agricultural and Bioresources Engineering,University of Ibadan,Bachelor's degree,Youth Corper (NYSC),1,Ongoing,2019.0,...,Naira,10.0,IT/SIWES/Internship experience (gained as part...,Internship,Yes: before my higher education,Commercial Vehicles,No,Agree,Strongly Agree,"Ability to solve complex problems, Ability to ..."
3416,3/28/2018 8:29:40,Female,2015,Accountancy,Kogi State University Anyigba,Bachelor's degree,Unemployed,0,Yes,2016.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4868,5/3/2018 10:54:45,Male,2016,Education And Chemistry,"Adekunle Ajasin University, Akungba.",Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3934,4/8/2018 15:24:32,Female,2017,English and Literary Studies,"Ajayi Crowther University, Ibadan",Bachelor's degree,Youth Corper (NYSC),3,Ongoing,2018.0,...,Naira,9.0,The subject(s) I studied,Social media/professional networking sites,No,Commercial Vehicles,No,Agree,Agree,"Critical thinking skills, Ability to solve com..."
1115,2/28/2018 11:15:12,Female,2017,Accountancy,Covenant University Ota,Bachelor's degree,Youth Corper (NYSC),1,Ongoing,2018.0,...,Naira,9.0,IT/SIWES/Internship experience (gained as part...,Internship,Yes: during my higher education study,Commercial Vehicles,No,Agree,Agree,Written communication skills
5024,5/7/2018 10:03:57,Female,2013,Science Education,"Auchi Polytechnic, Auchi, Edo State.",Ordinary National Diploma (OND),Unemployed,0,No,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2627,3/12/2018 13:01:22,Female,2015,Agronomy,"Ladoke Akintola University of Technology, Ogbo...",Bachelor's degree,Taking time out to prepare for further studies...,1,Yes,2017.0,...,Naira,9.0,My general understanding of services to offer ...,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Agree,"Critical thinking skills, Ability to solve com..."
1071,2/28/2018 2:03:12,Male,2016,Agriculture,"Landmark University,Omu-Aran.",Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4945,5/3/2018 17:34:55,Male,2016,Geography,University of Port-Harcourt,Bachelor's degree,Self-employed/freelance/entrepreneur,2,Yes,2017.0,...,Naira,8.0,Other qualifications gotten aside my B.Sc.,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Disagree,Agree,"Critical thinking skills, Ability to work with..."
1338,3/1/2018 19:00:50,Male,2015,Political Science,Ekiti State University,Bachelor's degree,Working full time (paid employment),2,Yes,2017.0,...,Naira,8.0,The subject(s) I studied,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Agree,"Critical thinking skills, Ability to work with..."
1860,3/6/2018 15:37:10,Female,2014,"Home Science, Nutrition and Dietetics","Bells University of Technology, Otta",Bachelor's degree,Self-employed/freelance/entrepreneur,0,Yes,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4517,4/27/2018 9:14:20,Male,2015,Education & Economics,University of Ilorin,Bachelor's degree,Working full time (paid employment),2,Yes,NaN,...,Naira,8.0,"Level of commitment, sharing of ideas.","Personal contacts, including family and friends",No,Commercial Vehicles,No: From my current job,Agree,Agree,Ability to work with others
43,2/20/2018 17:16:08,Male,2013,Computer Science,Rivers State University of Science & Technology,Bachelor's degree,Unemployed,0,Yes,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
613,2/27/2018 7:24:09,Male,2015,Geophysics,"University of Agriculture, Abeokuta.",Bachelor's degree,Self-employed/freelance/entrepreneur,2,Yes,2017.0,...,Naira,10.0,The level of study,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Agree,Strongly Agree,"Critical thinking skills, Ability to solve com..."
1770,3/6/2018 13:14:39,Male,2016,Electrical & Electronic Engineering,Anambra State University of Science & Technolo...,Bachelor's degree,Voluntary or other unpaid work or on an intern...,1,Yes,2017.0,...,Naira,5.0,The level of study,"Personal contacts, including family and friends",No,Commercial Vehicles,No,Strongly Agree,Strongly Agree,"Critical thinking skills, Ability to solve com..."
3678,4/3/2018 18:15:32,Female,2015,Business Administration,University of Lagos,Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2/19/2018 13:31:38,Female,2017,Economics,"Babcock University,Ilishan-Remo",Bachelor's degree,Youth Corper (NYSC),2,Ongoing,2018.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,Social media/professional networking sites,No,Commercial Vehicles,No,Agree,Agree,"Critical thinking skills, Ability to solve com..."
1948,3/7/2018 11:05:19,Female,2015,Banking and Finance,"Nnamdi Azikiwe University, Awka",Bachelor's degree,Due to start a job in the next month/developin...,1,Yes,2017.0,...,Naira,8.0,The subject(s) I studied,Recruitment agency/Online job site,No,Commercial Vehicles,No,Strongly Agree,Strongly Agree,Critical thinking skills
2942,3/25/2018 17:11:40,Female,2014,Pure and Industrial Chemistry,"Ladoke Akintola University of Technology, Ogbo...",Bachelor's degree,Voluntary or other unpaid work or on an intern...,0,Yes,2015.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2759,3/16/2018 0:37:10,Female,2016,Accountancy,"Obafemi Awolowo University,Ile-Ife",Bachelor's degree,Taking time out to prepare for further studies...,2,Ongoing,2018.0,...,Naira,7.0,The subject(s) I studied,Social media/professional networking sites,No,Commercial Vehicles,No,Disagree,Agree,Knowledge of the skill(s) you are studying
4536,4/27/2018 15:33:17,Male,2015,Geography,"Ibrahim Badamasi Babangida University, Lapai",Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3233,3/26/2018 7:18:22,Male,2016,Computer Science,"Novena University, Ogume",Bachelor's degree,Voluntary or other unpaid work or on an intern...,1,Yes,2017.0,...,Naira,8.0,The subject(s) I studied,Recruitment agency/Online job site,No,Commercial Vehicles,No,Strongly Agree,Strongly Agree,"Critical thinking skills, Ability to solve com..."
1566,3/3/2018 0:42:09,Male,2017,Chemical Engineering,"Nnamdi Azikiwe University, Awka",Bachelor's degree,Due to start a job in the next month/developin...,1,No,NaN,...,Naira,4.0,No one thing was important,"Personal contacts, including family and friends",Yes: during my higher education study,Keke Marwa/Napep/Tricycle,No,Strongly Disagree,Agree,"Critical thinking skills, Ability to solve com..."
4662,4/29/2018 11:17:20,Female,2017,Philosophy,University of Lagos,Bachelor's degree,Youth Corper (NYSC),1,No,NaN,...,Naira,12.0,Eagerness to learn and see a job to its comple...,"Personal contacts, including family and friends",Yes: during my higher education study,Uber/Taxify/Taxi services,No,Agree,Agree,Critical thinking skills
3091,3/25/2018 20:25:38,Male,2016,Accountancy,"Bowen University, Iwo",Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,2/21/2018 15:47:41,Male,2014,Economics,Olabisi Onabanjo University Ago-Iwoye,Bachelor's degree,Working full time (paid employment),3,Yes,2015.0,...,Foreign currency,8.0,Skill and Experience,Social media/professional networking sites,No,Car,No,Strongly Disagree,Agree,None of the above
469,2/25/2018 20:16:53,Female,2016,Business Administration,Covenant University Ota,Bachelor's degree,Due to start a job in the next month/developin...,1,Yes,2017.0,...,Naira,7.0,No one thing was important,Internship,No,Commercial Vehicles,No,Agree,Agree,Knowledge of the skill(s) you are studying
11,2/19/2018 10:31:10,Male,2016,Banking and Finance,Covenant University Ota,Bachelor's degree,Working full time (paid employment),2,Yes,2017.0,...,Naira,10.0,Don't know,"Personal contacts, including family and friends",Yes: before my higher education,Car,No,Agree,Agree,Knowledge of the skill(s) you are studying
1239,3/1/2018 12:53:10,Female,2017,Sociology/Anthropology,"Bowen University, Iwo",Bachelor's degree,Youth Corper (NYSC),2,Ongoing,2018.0,...,Naira,9.0,The subject(s) I studied,Employer's website,Yes: before my higher education,Motorcycle,Yes: From my first job,Strongly Agree,Strongly Agree,Ability to work with others
3291,3/26/2018 11:10:16,Male,2015,Computer Science,"Caleb University, Lagos",Bachelor's degree,Working full time (paid employment),4,Yes,2017.0,...,Naira,9.0,The level of study,"Personal contacts, including family and friends",No,Car,No,Agree,Agree,Knowledge of the skill(s) you are studying
4919,5/3/2018 14:43:21,Male,2013,Civil Engineering,"University of Nigeria, Nsukka",Bachelor's degree,Self-employed/freelance/entrepreneur,0,Yes,2014.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1606,3/3/2018 12:51:06,Female,2017,Education & Social Science,University of Calabar,Bachelor's degree,Doing something else (e.g. looking after home ...,1,No,NaN,...,Naira,8.0,Don't know,"Personal contacts, including family and friends",Yes: during my higher education study,Keke Marwa/Napep/Tricycle,Yes: From my first job,Strongly Agree,Strongly Agree,Ability to solve complex problems
2615,3/12/2018 9:59:25,Male,2015,Electrical & Electronic Engineering,University of Benin,Bachelor's degree,Working full time (paid employment),1,Yes,2017.0,...,Naira,8.0,IT/SIWES/Internship experience (gained as part...,"Personal contacts, including family and friends",No,Commercial Vehicles,No: From my current job,Agree,Strongly Agree,"Critical thinking skills, Ability to solve com..."
5044,5/7/2018 11:43:04,Female,2017,Accountancy,"Auchi Polytechnic, Auchi, Edo State.",Higher National Diploma (HND),Youth Corper (NYSC),1,No,2018.0,...,Naira,7.0,The subject(s) I studied,"University/polytechnic (e.g. Careers Service, ...",Yes: before my higher education,Commercial Vehicles,Yes: From my first job,Agree,Agree,None of the above
3468,3/31/2018 13:53:45,Male,2016,Computer Science,"Kwara State University, Ilorin",Bachelor's degree,Youth Corper (NYSC),0,No,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2045,3/7/2018 12:22:03,Female,2016,Geology,"Afe Babalola University, Ado-Ekiti - Ekiti State",Bachelor's degree,Unemployed,1,Yes,2017.0,...,Naira,8.0,The level of study,Social media/professional networking sites,No,Commercial Vehicles,No,Strongly Agree,Strongly Agree,"Critical thinking skills, Ability to solve com..."
4654,4/29/2018 0:20:45,Female,2016,Mass Communication (Communication and Language...,University of Ibadan,Bachelor's degree,Doing something else (e.g. looking after home ...,2,Yes,2018.0,...,Naira,8.0,The level of study,Social media/professional networking sites,No,Commercial Vehicles,No,Agree,Disagree,"Critical thinking skills, Ability to solve com..."
3284,3/26/2018 10:39:51,Female,2016,Chemical Engineering,Covenant University Ota,Bachelor's degree,Unemployed,0,Yes,2017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3748,4/4/2018 7:27:09,Male,2015,Computer Science,"Ebonyi State University, Abakaliki",Bachelor's degree,Voluntary or other unpaid work or on an intern...,2,Yes,2017.0,...,Naira,10.0,IT/SIWES/Internship experience (gained as part...,Recruitment agency/Online job site,No,Commercial Vehicles,No,Agree,Agree,"Critical thinking skills, Ability to solve com..."

In [7]:
df.nunique()

Timestamp                                                                                                                       5205
What is your gender                                                                                                                3
Year of graduation                                                                                                                 5
Title of course studied                                                                                                          127
Polytechnic/University attended                                                                                                  158
What is your highest level of education?                                                                                           6
What best describes your current status?                                                                                          10
How many jobs have you had since graduation including your current one?                                                           10
Have you completed your NYSC?                                                                                                      3
If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?                          7
Did you get your first full time job through your NYSC placement?                                                                  3
Thinking about your first employment after graduation, what was your job level?                                                    6
What is/was your job role?                                                                                                        44
What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication)                                           30
Still thinking about your first employment, what is/was your monthly income level?                                                 7
Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?       4
What was the most significant reason for deciding to take your first job?                                                          9
Thinking about your current employment, what is your job level?                                                                    6
What is your job role?                                                                                                            46
What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication).1                                         30
What is your current monthly income level?                                                                                         7
Did you need your higher education qualification to get this job (the actual qualification, not the subject of study)?             4
What was the most significant reason for deciding to take this job?                                                              154
Which employer in the country do you think offers the best opportunities for graduates?                                         1625
Reason why?                                                                                                                      155
Which sector is your most preferred sector to work in?                                                                            30
What currency are you currently paid in?                                                                                           2
Approximately how many hours a day do you currently work?                                                                         28
As far as you are aware, what was most important to your current employer about your qualification?                              389
How do you find out about your job(s)?                                                                                             7
Thinking about your current employment, did you work for your employer before or during your  higher education study?              4
Which form of transport do you use the most?                                                                                      10
Were you able to rent an apartment or buy a car from the salary you got from your first job?                                       3
My course of study prepared me well for employment                                                                                 5
My course of study prepared me well for further studies                                                                            5
Which of these skills/knowledge did your higher education prepare you for?                                                        69
dtype: int64

In [8]:
# checking for null values
df.isnull().sum()

Timestamp                                                                                                                          0
What is your gender                                                                                                                0
Year of graduation                                                                                                                 0
Title of course studied                                                                                                            0
Polytechnic/University attended                                                                                                    0
What is your highest level of education?                                                                                           0
What best describes your current status?                                                                                           0
How many jobs have you had since graduation including your current one?                                                            0
Have you completed your NYSC?                                                                                                      1
If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?                        941
Did you get your first full time job through your NYSC placement?                                                                  1
Thinking about your first employment after graduation, what was your job level?                                                 3563
What is/was your job role?                                                                                                      3565
What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication)                                         3563
Still thinking about your first employment, what is/was your monthly income level?                                              3563
Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?    3563
What was the most significant reason for deciding to take your first job?                                                       3563
Thinking about your current employment, what is your job level?                                                                 1787
What is your job role?                                                                                                          1788
What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication).1                                       1787
What is your current monthly income level?                                                                                      1787
Did you need your higher education qualification to get this job (the actual qualification, not the subject of study)?          1788
What was the most significant reason for deciding to take this job?                                                             1787
Which employer in the country do you think offers the best opportunities for graduates?                                         2261
Reason why?                                                                                                                     2110
Which sector is your most preferred sector to work in?                                                                          1922
What currency are you currently paid in?                                                                                        1787
Approximately how many hours a day do you currently work?                                                                       1787
As far as you are aware, what was most important to your current employer about your qualification?                             1787
How do you find out about your job(s)?                                                                                          1787
Thinking about your current employment, did you work for your employer before or during your  higher education study?           1787
Which form of transport do you use the most?                                                                                    1787
Were you able to rent an apartment or buy a car from the salary you got from your first job?                                    1787
My course of study prepared me well for employment                                                                              1787
My course of study prepared me well for further studies                                                                         1787
Which of these skills/knowledge did your higher education prepare you for?                                                      1787
dtype: int64

In [9]:
# checking for duplicated values
df.duplicated().sum()

2

In [10]:
df.describe()

,Year of graduation,How many jobs have you had since graduation including your current one?,"If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?",Approximately how many hours a day do you currently work?
count,5219.000000,5219.000000,4278.000000,3432.000000
mean,2015.329182,1.136999,2016.579009,8.983683
std,1.305153,1.140146,1.354837,2.636293
min,2013.000000,0.000000,2013.000000,0.000000
25%,2014.000000,0.000000,2016.000000,8.000000
50%,2015.000000,1.000000,2017.000000,9.000000
75%,2016.000000,2.000000,2017.000000,10.000000
max,2017.000000,10.000000,2019.000000,24.000000

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5219 entries, 0 to 5218
Data columns (total 36 columns):
 #   Column                                                                                                                        Non-Null Count  Dtype
---  ------                                                                                                                        --------------  -----
 0   Timestamp                                                                                                                     5219 non-null   object
 1   What is your gender                                                                                                           5219 non-null   object
 2   Year of graduation                                                                                                            5219 non-null   int64
 3   Title of course studied                                                                                                       5219 non-null   object
 4   Polytechnic/University attended                                                                                               5219 non-null   object
 5   What is your highest level of education?                                                                                      5219 non-null   object
 6   What best describes your current status?                                                                                      5219 non-null   object
 7   How many jobs have you had since graduation including your current one?                                                       5219 non-null   int64
 8   Have you completed your NYSC?                                                                                                 5218 non-null   object
 9   If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?                     4278 non-null   float64
 10  Did you get your first full time job through your NYSC placement?                                                             5218 non-null   object
 11  Thinking about your first employment after graduation, what was your job level?                                               1656 non-null   object
 12  What is/was your job role?                                                                                                    1654 non-null   object
 13  What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication)                                       1656 non-null   object
 14  Still thinking about your first employment, what is/was your monthly income level?                                            1656 non-null   object
 15  Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?  1656 non-null   object
 16  What was the most significant reason for deciding to take your first job?                                                     1656 non-null   object
 17  Thinking about your current employment, what is your job level?                                                               3432 non-null   object
 18  What is your job role?                                                                                                        3431 non-null   object
 19  What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication).1                                     3432 non-null   object
 20  What is your current monthly income level?                                                                                    3432 non-null   object
 21  Did you need your higher education qualification to get this job (the actual qualification, not the subject of study)?        3431 non-null   object
 22  What was the most significant reason for deciding to take this job?                                                           3432 non-null   object
 23  Which employer in the country do you think offers the best opportunities for graduates?                                       2958 non-null   object
 24  Reason why?                                                                                                                   3109 non-null   object
 25  Which sector is your most preferred sector to work in?                                                                        3297 non-null   object
 26  What currency are you currently paid in?                                                                                      3432 non-null   object
 27  Approximately how many hours a day do you currently work?                                                                     3432 non-null   float64
 28  As far as you are aware, what was most important to your current employer about your qualification?                           3432 non-null   object
 29  How do you find out about your job(s)?                                                                                        3432 non-null   object
 30  Thinking about your current employment, did you work for your employer before or during your  higher education study?         3432 non-null   object
 31  Which form of transport do you use the most?                                                                                  3432 non-null   object
 32  Were you able to rent an apartment or buy a car from the salary you got from your first job?                                  3432 non-null   object
 33  My course of study prepared me well for employment                                                                            3432 non-null   object
 34  My course of study prepared me well for further studies                                                                       3432 non-null   object
 35  Which of these skills/knowledge did your higher education prepare you for?                                                    3432 non-null   object
dtypes: float64(2), int64(2), object(32)
memory usage: 1.4+ MB

In [12]:
df['What is your gender'].value_counts()

Male                 2624
Female               2592
Prefer not to say       3
Name: What is your gender, dtype: int64

In [13]:
df['Year of graduation'].value_counts()

2015    1327
2017    1259
2016    1214
2014     824
2013     595
Name: Year of graduation, dtype: int64

In [14]:
df['Title of course studied'].value_counts()

Computer Science                                        459
Accountancy                                             373
Economics                                               321
Electrical & Electronic Engineering                     214
Mass Communication (Communication and Language Arts)    204
                                                       ...
Music                                                     1
Department of Pharmacology and Toxicology                 1
Child Dental Health                                       1
Archeology and Tourism                                    1
Igbo Linguistics                                          1
Name: Title of course studied, Length: 127, dtype: int64

In [17]:
column_name = "Title of course studied"
course_titles = df[column_name].unique()
print(course_titles)

['Electrical & Electronic Engineering' 'Psychology' 'Economics'
 'Mass Communication (Communication and Language Arts)' 'Statistics'
 'Accountancy' 'Industrial Relations and Personnel Management'
 'Biochemistry' 'Banking and Finance' 'Petroleum and Gas Engineering'
 'Geography' 'Computer Science' 'Quantity Surveying' 'Fisheries'
 'Mechanical Engineering' 'Geophysics' 'Architecture' 'Philosophy'
 'Civil Engineering' 'Agricultural and Bioresources Engineering'
 'Hospitality and Tourism' 'Mathematics' 'Chemical Engineering' 'Geology'
 'Microbiology' 'Computer Engineering'
 'Forest Resources Management (Forestry)' 'Building' 'Social Work'
 'Business Administration' 'History and International Studies'
 'Physics and Astronomy' 'Law' 'International and Jurisprudence'
 'Business Management' 'Botany' 'English and Literary Studies'
 'Electrical Engineering' 'Education And Geography/Physics'
 'Education And Biology' 'Linguistics and Nigerian Languages'
 'Pharmacology and Therapeutics' 'Geoinformatics and Surveying'
 'Pure and Industrial Chemistry' 'Veterinary Medicine'
 'Sociology/Anthropology' 'Insurance' 'Theatre and Film Studies'
 'Political Science' 'Vocational Teacher Education (Technical Education)'
 'Medical Rehabilitation' 'Physiology' 'Estate Management'
 'Pharmaceutical Technology and Industrial Pharmacy' 'Anatomy'
 'Foreign Languages and Literature' 'Urban and Regional Planning'
 'Medical Laboratory Sciences' 'Agronomy' 'Marketing'
 'Production and Industrial Engineering' 'Soil Science'
 'Health and Physical Education' 'Science Education' 'Medicine'
 'Animal Health and Production' 'Archeology and Tourism'
 'Systems Engineering' 'Food Science and Technology'
 'Education And Political Science' 'Pharmaceutics' 'Community Medicine'
 'Education And Chemistry' 'Education & Accountancy'
 'Public Health/Preventive Medicine' 'Christian Religious Studies'
 'Home Science, Nutrition and Dietetics' 'Animal Science'
 'Education And English Language' 'Education & Computer Science' 'Zoology'
 'Agriculture' 'Education & Economics' 'Education & Social Science'
 'Library and Information Science' 'Electronic Engineering'
 'Agricultural Economics'
 'Educational / Psychology Guidance And Counselling'
 'Cell Biology & Genetics' 'Metallurgical and Materials Engineering'
 'Veterinary Physiology/Pharmacology'
 'Veterinary Parasitology and Entomology' 'Acturial Science'
 'Educational Foundations' 'Agricultural Extension' 'Religion'
 'Marine Engineering' 'Public Administration and Local Government'
 'Medical Microbiology' 'Education And French'
 'Fine and Applied Arts (Creatiuve Arts)'
 'Health Administration and Management' 'Education & Physics'
 'Marine Biology' 'Biomedical Engineering'
 'Adult Education and Extra-Mural Studies' 'Management Information System'
 'Medical Biochemistry' 'Transport Management' 'Crop Science'
 'Chemical Pathology' 'Demography and Social Statistics'
 'Nursing Sciences' 'Arts Education'
 'Clinical Pharmacy and Pharmacy Management'
 'Pharmaceutical Chemistry and Industrial Pharmacy' 'Ophthalmology'
 'Education & Mathematics' 'Public Health' 'French'
 'Medical Radiography and Radiological Sciences'
 'Social Sciences Education' 'Music'
 'Department of Pharmacology and Toxicology' 'Child Dental Health'
 'Education & Religious Studies' 'Igbo Linguistics']

In [19]:
column_name = "Title of course studied"
unique_course_titles = df[column_name].unique()

# Sort the unique elements in alphabetical order
unique_course_titles_sorted = sorted(unique_course_titles)
print(unique_course_titles_sorted)

['Accountancy', 'Acturial Science', 'Adult Education and Extra-Mural Studies', 'Agricultural Economics', 'Agricultural Extension', 'Agricultural and Bioresources Engineering', 'Agriculture', 'Agronomy', 'Anatomy', 'Animal Health and Production', 'Animal Science', 'Archeology and Tourism', 'Architecture', 'Arts Education', 'Banking and Finance', 'Biochemistry', 'Biomedical Engineering', 'Botany', 'Building', 'Business Administration', 'Business Management', 'Cell Biology & Genetics', 'Chemical Engineering', 'Chemical Pathology', 'Child Dental Health', 'Christian Religious Studies', 'Civil Engineering', 'Clinical Pharmacy and Pharmacy Management', 'Community Medicine', 'Computer Engineering', 'Computer Science', 'Crop Science', 'Demography and Social Statistics', 'Department of Pharmacology and Toxicology', 'Economics', 'Education & Accountancy', 'Education & Computer Science', 'Education & Economics', 'Education & Mathematics', 'Education & Physics', 'Education & Religious Studies', 'Education & Social Science', 'Education And Biology', 'Education And Chemistry', 'Education And English Language', 'Education And French', 'Education And Geography/Physics', 'Education And Political Science', 'Educational / Psychology Guidance And Counselling', 'Educational Foundations', 'Electrical & Electronic Engineering', 'Electrical Engineering', 'Electronic Engineering', 'English and Literary Studies', 'Estate Management', 'Fine and Applied Arts (Creatiuve Arts)', 'Fisheries', 'Food Science and Technology', 'Foreign Languages and Literature', 'Forest Resources Management (Forestry)', 'French', 'Geography', 'Geoinformatics and Surveying', 'Geology', 'Geophysics', 'Health Administration and Management', 'Health and Physical Education', 'History and International Studies', 'Home Science, Nutrition and Dietetics', 'Hospitality and Tourism', 'Igbo Linguistics', 'Industrial Relations and Personnel Management', 'Insurance', 'International and Jurisprudence', 'Law', 'Library and Information Science', 'Linguistics and Nigerian Languages', 'Management Information System', 'Marine Biology', 'Marine Engineering', 'Marketing', 'Mass Communication (Communication and Language Arts)', 'Mathematics', 'Mechanical Engineering', 'Medical Biochemistry', 'Medical Laboratory Sciences', 'Medical Microbiology', 'Medical Radiography and Radiological Sciences', 'Medical Rehabilitation', 'Medicine', 'Metallurgical and Materials Engineering', 'Microbiology', 'Music', 'Nursing Sciences', 'Ophthalmology', 'Petroleum and Gas Engineering', 'Pharmaceutical Chemistry and Industrial Pharmacy', 'Pharmaceutical Technology and Industrial Pharmacy', 'Pharmaceutics', 'Pharmacology and Therapeutics', 'Philosophy', 'Physics and Astronomy', 'Physiology', 'Political Science', 'Production and Industrial Engineering', 'Psychology', 'Public Administration and Local Government', 'Public Health', 'Public Health/Preventive Medicine', 'Pure and Industrial Chemistry', 'Quantity Surveying', 'Religion', 'Science Education', 'Social Sciences Education', 'Social Work', 'Sociology/Anthropology', 'Soil Science', 'Statistics', 'Systems Engineering', 'Theatre and Film Studies', 'Transport Management', 'Urban and Regional Planning', 'Veterinary Medicine', 'Veterinary Parasitology and Entomology', 'Veterinary Physiology/Pharmacology', 'Vocational Teacher Education (Technical Education)', 'Zoology']

In [26]:
column_name = "Title of course studied"
unique_course_titles = df[column_name].unique()

# Sort the unique elements in alphabetical order
unique_course_titles_sorted = sorted(unique_course_titles)

# To count the occurrences of each unique course title:
course_title_counts = df[column_name].value_counts()

print(course_title_counts)

Computer Science                                        459
Accountancy                                             373
Economics                                               321
Electrical & Electronic Engineering                     214
Mass Communication (Communication and Language Arts)    204
                                                       ...
Music                                                     1
Department of Pharmacology and Toxicology                 1
Child Dental Health                                       1
Archeology and Tourism                                    1
Igbo Linguistics                                          1
Name: Title of course studied, Length: 127, dtype: int64

In [21]:
column_name = "Polytechnic/University attended"
institution_type_attended = df[column_name].unique()

# Sort the unique elements in alphabetical order
institution_type_attended_sorted = sorted(institution_type_attended)
print(institution_type_attended_sorted)

['Abdu Gusau Polytechnic, Talata Mafara, Zamfara State.', 'Abia State Polytechnic, Aba, Abia State.', 'Abia State University, Uturu.', 'Abraham Adesanya Polytechnic, Dogbolu/Akanran Ibadan Road, Atikori, Ijebu Igbo, Ogun State.', 'Abubakar Tafawa Balewa University, Bauchi', 'Abubakar Tatari Ali Polytechnic, Jos Rd, Bauchi, Bauchi State.', 'Achievers University, Owo', 'Adamawa State University Mubi', 'Adekunle Ajasin University, Akungba.', 'Adeleke University,Ede.', 'Afe Babalola University, Ado-Ekiti - Ekiti State', 'Ahmadu Bello University, Zaria', 'Airforce Institute of Technology (AFIT), NAF Base Kaduna', 'Ajayi Crowther University, Ibadan', 'Akanu Ibiam Federal Polytechnic Unwana, Afikpo, Ebonyi State.', 'Akwa Ibom State Polytechnic, Ikot Osurua, Ikot -Ekpene, Akwa Ibom State.', 'Akwa Ibom State University of Technology, Uyo', 'Al-Hikmah University, Ilorin', 'Allover Central Polytechnic, Sango Ota, Plot 3A & B Abiodun Popoola Street, Sango Ota, Ogun State.', 'Ambrose Alli University, Ekpoma,', 'American University of Nigeria, Yola', 'Anambra State University of Science & Technology, Uli', 'Auchi Polytechnic, Auchi, Edo State.', 'Babcock University,Ilishan-Remo', 'Bayero University,Kano', 'Bells University of Technology, Otta', 'Benson Idahosa University,Benin City', 'Benue State Polytechnic, Ugbokolo, Benue State.', 'Benue State University, Makurdi.', 'Bingham University, New Karu', 'Bolmor Polytechnic, Dugbe, Ibadan, Oyo State.', 'Bowen University, Iwo', 'Caleb University, Lagos', 'Caritas University, Enugu', 'Covenant University Ota', 'Crawford University Igbesa', 'Crescent University,', 'Cross River State University of Science &Technology, Calabar', 'D.S. Adegbenro ICT Polytechnic, Itori-Ewekoro, Ifo, Ogun State.', 'Delta State Polytechnic, Ogwashi-Uku, Delta State.', 'Delta State Polytechnic, Otefe-Oghara, Delta State', 'Delta State Polytechnic, Ozoro', 'Delta State Polytechnic, Ozoro, Delta State.', 'Delta State University Abraka', 'Dorben Polytechnic, Abuja, Garki, Bwari, Abuja.', 'Ebonyi State University, Abakaliki', 'Ekiti State University', 'Enugu State University of Science and Technology, Enugu', 'Federal Polytechnic Ado Ekiti, Ekiti State.', 'Federal Polytechnic Bida, Niger State.', 'Federal Polytechnic Ede, Osun State.', 'Federal Polytechnic Idah, Kogi State.', 'Federal Polytechnic Ilaro, Ogun State.', 'Federal Polytechnic Ile-Oluji, Ondo State', 'Federal Polytechnic Kaura Namoda, Zamfara State.', 'Federal Polytechnic Mubi, Adamawa State.', 'Federal Polytechnic Nasarawa, Nasarawa State.', 'Federal Polytechnic Nekede, Owerri, Imo State.', 'Federal Polytechnic Offa, Kwara State.', 'Federal Polytechnic Oko, Anambra State.', 'Federal University of Petroleum Resources, Effurun', 'Federal University of Technology, Akure', 'Federal University of Technology, Minna.', 'Federal University of Technology, Owerri', 'Federal University, Kashere, Gombe State', 'Federal University, Lafia, Nasarawa State', 'Federal University, Lokoja, Kogi State', 'Federal University, Otuoke, Bayelsa', 'Federal University, Oye-Ekiti, Ekiti State', 'Federal University, Wukari, Taraba State', 'Fountain Unveristy,Oshogbo', 'Gateway Polytechnic, Saapade Prof. Wole Soyinka Way, Saapade Estate, Isara Ode-Remo, Ogun State.', 'Gombe State Univeristy, Gombe', 'Grace Polytechnic, Surulere, Lagos State.', 'Gregory University, Uturu', 'Heritage Polytechnic, Ikot Udota, Eket, Akwa Ibom State', 'Ibadan City Polytechnic, Alakia-Isebo/Iyana Church Road, Ibadan, Oyo State.', 'Ibrahim Badamasi Babangida University, Lapai', 'Igbinedion University Okada', 'Ignatius Ajuru University of Education,Rumuolumeni.', 'Imo State Polytechnic, Umuagwo, Ohaji, P.M.B. 1472, Umuagwo, Ohaji Owerri, Imo State', 'Imo State University, Owerri', 'Institute of Management and Technology, Enugu, Enugu State.', 'Jigawa State Polytechnic, Dutse, Block 40-42, Old Secretariat, Dutse, Jigawa State.', 'Joseph Ayo Babalola University, Ikeji-Arakeji', 'Kaduna Polytechnic, Kaduna.', 'Kaduna State University, Kaduna', 'Kano University of Science & Technology, Wudil', 'Kebbi State University, Kebbi', 'Kogi State Polytechnic, Lokoja, Kogi State.', 'Kogi State University Anyigba', 'Kwara State Polytechnic, Ilorin, Kwara State.', 'Kwara State University, Ilorin', 'Ladoke Akintola University of Technology, Ogbomoso', 'Lagos City Polytechnic, Ikeja, Lagos State.', 'Lagos State Polytechnic, Ikorodu, Ikeja, Lagos, Lagos State.', 'Lagos State University Ojo, Lagos.', 'Landmark University,Omu-Aran.', 'Lead City University, Ibadan', 'Madonna University, Okija', 'Michael Okpara Uni. of Agric., Umudike', 'Modibbo Adama University of Technology, Yola', 'Moshood Abiola Polytechnic, Abeokuta, Ogun State.', 'Nasarawa State Polytechnic, Lafia, Nasarawa State.', 'Nasarawa State University, Keffi', 'National Open University of Nigeria, Lagos.', 'Niger Delta Unversity, Yenagoa', 'Niger State Polytechnic, Zungeru, Niger State.', 'Nigerian-Turkish Nile University, Abuja', 'Nnamdi Azikiwe University, Awka', 'Novena University, Ogume', 'Nuhu Bamalli Polytechnic, Zaria, Kaduna State.', 'Obafemi Awolowo University,Ile-Ife', 'Oduduwa University, Ipetumodu - Osun State', 'Ogun State Institute of Technology, Igbesa Oba Adesola Market Road, Igbesa, Ogun State.', 'Olabisi Onabanjo University Ago-Iwoye', 'Ondo State University of Science & Technology, Okitipupa', 'Osun State College of Technology, Esa Ã¢\x80\x93 Oke, Osun State.', 'Osun State Polytechnic, Iree, Osun State.', 'Osun State University, Oshogbo', 'Others (For foreign trained students)', 'Others (For other Nigerian institutions not listed)', 'Our Saviour Institute of Science, Agriculture & Technology, Enugu, Enugu State.', 'Pan-African University, Lagos', 'Petroleum Training Institute Effurun, Delta State.', 'Plateau State Polytechnic, Barkin-Ladi, Jos, Plateau State.', "Redeemer's University, Mowe", 'Renaissance University,Enugu', 'Rivers State University of Science & Technology', 'Ronik Polytechnic, Ejigbo, Ikeja, Lagos, Lagos State.', 'Rufus Giwa Polytechnic, Owo, Owo Ondo State.', 'Salem University,Lokoja', 'Sokoto State University, Sokoto', 'Tai Solarin Univ. of Education, Ijebu-Ode', 'Tansian University,Umunya', 'Taraba State University, Jalingo', 'The Polytechnic Ibadan, Ibadab, Oyo State.', 'The Polytechnic, Ile Ife, O.A.U. Ile-Ife, Osun State.', 'Umaru Ali Shinkafi Polytechnic, Sokoto, Sokoto State.', "Umaru Musa Yar'Adua University, Katsina", 'University of Abuja, Gwagwalada', 'University of Agriculture, Abeokuta.', 'University of Agriculture, Makurdi.', 'University of Benin', 'University of Calabar', 'University of Ibadan', 'University of Ilorin', 'University of Jos', 'University of Lagos', 'University of Maiduguri', 'University of Nigeria, Nsukka', 'University of Port-Harcourt', 'University of Uyo', 'Usumanu Danfodiyo University', 'Veritas University', 'Wellspring University, Evbuobanosa - Edo State', 'Wesley Univ. of Science & Tech.,Ondo', 'Yaba College of Technology, Yaba, Lagos State.']

In [27]:
df['Polytechnic/University attended'].value_counts()

University of Lagos                                        527
Covenant University Ota                                    432
Obafemi Awolowo University,Ile-Ife                         326
Babcock University,Ilishan-Remo                            213
University of Nigeria, Nsukka                              208
                                                          ...
Grace Polytechnic, Surulere, Lagos State.                    1
Wellspring University, Evbuobanosa - Edo State               1
Ignatius Ajuru University of Education,Rumuolumeni.          1
Heritage Polytechnic, Ikot Udota, Eket, Akwa Ibom State      1
Nasarawa State Polytechnic, Lafia, Nasarawa State.           1
Name: Polytechnic/University attended, Length: 158, dtype: int64

In [22]:
column_name = "What is your highest level of education?"
highest_education = df[column_name].unique()

# Sort the unique elements in alphabetical order
highest_education_sorted = sorted(highest_education)
print(highest_education_sorted)

["Bachelor's degree", 'Higher National Diploma (HND)', 'MBA degree', "Master's degree", 'Ordinary National Diploma (OND)', 'PhDs/Doctorate Degree']

In [28]:
df['What is your highest level of education?'].value_counts()

Bachelor's degree                  4402
Higher National Diploma (HND)       368
Master's degree                     306
Ordinary National Diploma (OND)     116
MBA degree                           20
PhDs/Doctorate Degree                 7
Name: What is your highest level of education?, dtype: int64

In [23]:
column_name = "What best describes your current status?"
current_status = df[column_name].unique()

# Sort the unique elements in alphabetical order
current_status_sorted = sorted(current_status)
print(current_status_sorted)

['Doing something else (e.g. looking after home or family)', 'Due to start a job in the next month/developing a professional portfolio/creative practice', 'Engaged in full-time further study, training or research', 'Engaged in part-time further study, training or research', 'Self-employed/freelance/entrepreneur', 'Taking time out to prepare for further studies, GMAT, professional exams', 'Unemployed', 'Voluntary or other unpaid work or on an internship', 'Working full time (paid employment)', 'Youth Corper (NYSC)']

In [29]:
df['What best describes your current status?'].value_counts()

Working full time (paid employment)                                                           1371
Unemployed                                                                                    1233
Youth Corper (NYSC)                                                                            842
Self-employed/freelance/entrepreneur                                                           700
Voluntary or other unpaid work or on an internship                                             417
Engaged in full-time further study, training or research                                       167
Due to start a job in the next month/developing a professional portfolio/creative practice     149
Taking time out to prepare for further studies, GMAT, professional exams                       130
Doing something else (e.g. looking after home or family)                                       127
Engaged in part-time further study, training or research                                        83
Name: What best describes your current status?, dtype: int64

In [30]:
column_name = "How many jobs have you had since graduation including your current one?"
number_of_jobs = df[column_name].unique()

# Sort the unique elements in alphabetical order
number_of_jobs_sorted = sorted(number_of_jobs)
print(number_of_jobs_sorted)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 10]

In [31]:
df['How many jobs have you had since graduation including your current one?'].value_counts()

0     1787
1     1776
2     1052
3      456
4      101
5       30
10       6
6        6
7        4
8        1
Name: How many jobs have you had since graduation including your current one?, dtype: int64

In [33]:
column_name = "Have you completed your NYSC?"
completed_NYSC = df[column_name].unique()

# Sort the unique elements in alphabetical order
completed_NYSC_sorted = sorted(completed_NYSC)
print(completed_NYSC_sorted)

TypeError: '<' not supported between instances of 'str' and 'float'

In [34]:
df['Have you completed your NYSC?'].value_counts()

Yes        3418
No         1023
Ongoing     777
Name: Have you completed your NYSC?, dtype: int64

In [35]:
df['If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?'].value_counts()

2017.0    1513
2018.0     832
2016.0     790
2015.0     541
2014.0     303
2019.0     224
2013.0      75
Name: If you answered yes/ongoing to the previous question, what year did you (or will you) complete your NYSC?, dtype: int64

## Change this column to int64 from float

In [36]:
df['Did you get your first full time job through your NYSC placement?'].value_counts()

No                              3561
I have not completed my NYSC     860
Yes                              797
Name: Did you get your first full time job through your NYSC placement?, dtype: int64

In [37]:
df['Thinking about your first employment after graduation, what was your job level?'].value_counts()

Entry level                    1141
Clerical and administrative     256
Experience/Professional         206
Managerial                       49
Executive Director                3
Experience                        1
Name: Thinking about your first employment after graduation, what was your job level?, dtype: int64

In [38]:
df['What is/was your job role?'].value_counts()

Teacher                                              210
Customer Service                                     201
Finance/Accounting                                   120
Sales                                                102
IT Support                                            75
Marketing                                             70
Content Creator/Content Writer/ Content Developer     70
Doctor, Nursing And Other Medical Related Roles       56
Data Entry                                            55
Executive Assistance/Personal Assitance               46
Business Analyst                                      46
Business Developer                                    45
Business Support                                      43
Creatives                                             40
Human Resources                                       38
Researcher                                            33
Law And Other Legal Related Roles                     33
Social Media/Digital Marketing                        32
Office Manager                                        26
Architect                                             25
Software Developer                                    25
Project Co-Ordinator                                  23
Operations Manager                                    23
Mechanical Engineer                                   21
Estate Management                                     16
Event Management                                      15
Civil Engineer                                        15
Public Relations                                      15
Front-End Developer                                   14
Graphic Designer                                      14
Web Developer                                         14
Back-End Developer                                    13
Product Manager                                       12
Systems Engineer                                      12
QA Engineer                                           10
Blue-collar/Artisan                                   10
Hardware Engineer                                      9
Quantity Surveyor                                      7
Devops Engineer                                        6
UI/UX Designer                                         5
Telesales                                              5
Software Architect                                     2
Petroleum Engineer                                     1
Option 1                                               1
Name: What is/was your job role?, dtype: int64

In [39]:
df['What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication)'].value_counts()

Education                          251
Banking / Financial Services       146
Technology                         137
Consulting                          87
Telecommunications                  85
Healthcare                          82
Construction / Real Estate          78
Advertising / Marketing / Comms     75
Others                              73
Media                               55
Ecommerce/Internet                  55
Engineering                         54
NGO                                 46
Oil & Gas / Mining                  42
Legal                               41
Trade / Services                    39
Manufacturing / Production          37
Hospitality/Leisure                 37
Creatives/Art/Design                32
Insurance                           32
Retail / Wholesales                 30
Agriculture/Poultry/Fishing         29
Logistics / Transportation          25
FMCG                                24
Government / Defence                19
Food Services                       16
Power/Energy                        11
Travels/Tours                       11
Aerospace                            5
Blue Collar                          2
Name: What sector/industry is your company in? (E.g. Banking, Agriculture, Telecommunication), dtype: int64

In [40]:
df['Still thinking about your first employment, what is/was your monthly income level?'].value_counts()

Ã¢Â€ÂŽÃ¢Â‚Â¦20,000 - Ã¢Â€ÂŽÃ¢Â‚Â¦49,999      709
Ã¢Â€ÂŽÃ¢Â‚Â¦50,000 - Ã¢Â€ÂŽÃ¢Â‚Â¦99,999      425
Under Ã¢Â€ÂŽÃ¢Â‚Â¦20,000               349
Ã¢Â€ÂŽÃ¢Â‚Â¦100,000 - Ã¢Â€ÂŽÃ¢Â‚Â¦149,999     94
Ã¢Â€ÂŽÃ¢Â‚Â¦150,000 - Ã¢Â€ÂŽÃ¢Â‚Â¦199,999     44
Ã¢Â€ÂŽÃ¢Â‚Â¦250,000 and more            20
Ã¢Â€ÂŽÃ¢Â‚Â¦200,000 - Ã¢Â€ÂŽÃ¢Â‚Â¦249,999     15
Name: Still thinking about your first employment, what is/was your monthly income level?, dtype: int64

In [41]:
column_name = "Still thinking about your first employment, what is/was your monthly income level?"
monthly_income_level = df[column_name].unique()

# Sort the unique elements in alphabetical order
monthly_income_level_sorted = sorted(monthly_income_level)
print(monthly_income_level_sorted)

TypeError: '<' not supported between instances of 'float' and 'str'

In [42]:
df['Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?'].value_counts()

Yes: the qualification was a formal requirement                                          885
No: the qualification was not required                                                   430
Yes: while the qualification was not a formal requirement it did give me an advantage    305
Don't know                                                                                36
Name: Did you need your higher education qualification to get your first job (the actual qualification, not the subject of study)?, dtype: int64

In [43]:
df['What was the most significant reason for deciding to take your first job?'].value_counts()

To gain and broaden my experience in order to get the type of job I really want    581
It fitted into my career plan/it was exactly the type of work I wanted             299
It was the only job offer I received                                               284
In order to earn a living/pay off debts                                            211
It was the best job offer I received                                               100
To see if I would like the type of work it involved                                 78
It was an opportunity to progress in the organisation                               67
It was in the right location                                                        23
The job was well-paid                                                               13
Name: What was the most significant reason for deciding to take your first job?, dtype: int64

In [47]:
df['Which employer in the country do you think offers the best opportunities for graduates?'].value_counts()

Andela                                   94
KPMG                                     82
Shell                                    64
Chevron                                  41
Banks                                    38
                                         ..
Government jobs                           1
Logistics and supply chain management     1
Not a bank anyways                        1
Start Ups                                 1
Dont know yet                             1
Name: Which employer in the country do you think offers the best opportunities for graduates?, Length: 1625, dtype: int64

In [48]:
column_name = "Which employer in the country do you think offers the best opportunities for graduates?"
best_employers = df[column_name].unique()

# Sort the unique elements in alphabetical order
best_employers_sorted = sorted(best_employers)
print(best_employers_sorted)

TypeError: '<' not supported between instances of 'float' and 'str'

In [49]:
df['Reason why?'].value_counts()

Impression formed from talking to people who have worked there or still work there            1531
Impression formed during any encounter with company representatives                            542
Impression formed from the media                                                               443
Others                                                                                         438
Nil                                                                                              3
                                                                                              ...
The organisations are structured and one can grow through the ranks                              1
Experience heard from staff members; culture, training, exposure, opportunities for growth       1
Had working experience there                                                                     1
Experience and comments from others                                                              1
No comment                                                                                       1
Name: Reason why?, Length: 155, dtype: int64

In [50]:
df['Which sector is your most preferred sector to work in?'].value_counts()

Oil & Gas / Mining                 452
Technology                         347
Banking / Financial Services       328
Consulting                         201
Telecommunications                 166
Government / Defence               162
Engineering                        152
Advertising / Marketing / Comms    136
Media                              136
NGO                                132
Healthcare                         127
Education                          126
FMCG                               107
Creatives/Art/Design               101
Manufacturing / Production          86
Construction / Real Estate          77
Agriculture/Poultry/Fishing         67
Ecommerce/Internet                  58
Others                              56
Power/Energy                        44
Legal                               43
Food Services                       33
Travels/Tours                       33
Logistics / Transportation          28
Hospitality/Leisure                 27
Trade / Services                    23
Aerospace                           21
Retail / Wholesales                 10
Blue Collar                          9
Insurance                            9
Name: Which sector is your most preferred sector to work in?, dtype: int64

In [51]:
df['What currency are you currently paid in?'].value_counts()

Naira               3377
Foreign currency      55
Name: What currency are you currently paid in?, dtype: int64

In [52]:
df['Approximately how many hours a day do you currently work?'].value_counts()

8.0     1014
9.0      805
10.0     591
12.0     234
7.0      179
6.0      152
11.0     122
5.0       89
24.0      29
14.0      29
4.0       28
13.0      24
0.0       22
2.0       18
15.0      17
18.0      17
3.0       14
20.0      11
16.0       9
8.5        7
9.5        6
1.0        4
17.0       3
10.5       3
19.0       2
7.5        1
23.0       1
4.5        1
Name: Approximately how many hours a day do you currently work?, dtype: int64

## Change from float to Int64

In [53]:
df['As far as you are aware, what was most important to your current employer about your qualification?'].value_counts()

The level of study                                              806
The subject(s) I studied                                        735
IT/SIWES/Internship experience (gained as part of my course)    563
No one thing was important                                      465
Don't know                                                      454
                                                               ...
Personal projects done                                            1
Leadership experience and Problem solving skills                  1
Inteligence, confidence, drive                                    1
Previous work experience                                          1
Expertise                                                         1
Name: As far as you are aware, what was most important to your current employer about your qualification?, Length: 389, dtype: int64

In [54]:
df['How do you find out about your job(s)?'].value_counts()

Personal contacts, including family and friends                     1448
Social media/professional networking sites                           639
Recruitment agency/Online job site                                   612
Media (e.g. newspaper/magazine advertisement)                        267
Internship                                                           220
University/polytechnic (e.g. Careers Service, lecturer, website)     151
Employer's website                                                    95
Name: How do you find out about your job(s)?, dtype: int64

In [55]:
df['Thinking about your current employment, did you work for your employer before or during your  higher education study?'].value_counts()

No                                                  2889
Yes: during my higher education study                304
Yes: before and during my higher education study     124
Yes: before my higher education                      115
Name: Thinking about your current employment, did you work for your employer before or during your  higher education study?, dtype: int64

In [56]:
df['Which form of transport do you use the most?'].value_counts()

Commercial Vehicles          2046
Car                           375
Keke Marwa/Napep/Tricycle     273
BRT                           243
Motorcycle                    216
Walking                       175
Uber/Taxify/Taxi services      90
Bicycle                        11
Water/Ferry                     2
Bus                             1
Name: Which form of transport do you use the most?, dtype: int64

In [57]:
df['Were you able to rent an apartment or buy a car from the salary you got from your first job?'].value_counts()

No                         2695
No: From my current job     466
Yes: From my first job      271
Name: Were you able to rent an apartment or buy a car from the salary you got from your first job?, dtype: int64

In [58]:
df['My course of study prepared me well for employment'].value_counts()

Agree                1574
Strongly Agree        808
Disagree              640
Strongly Disagree     409
No                      1
Name: My course of study prepared me well for employment, dtype: int64

In [59]:
df['My course of study prepared me well for further studies'].value_counts()

Agree                1687
Strongly Agree       1293
Disagree              292
Strongly Disagree     159
No                      1
Name: My course of study prepared me well for further studies, dtype: int64

In [60]:
df['Which of these skills/knowledge did your higher education prepare you for?'].value_counts()

Critical thinking skills, Ability to solve complex problems, Ability to work with others, Written communication skills, Spoken communication skills, Knowledge of the skill(s) you are studying    576
Knowledge of the skill(s) you are studying                                                                                                                                                         276
Critical thinking skills                                                                                                                                                                           254
None of the above                                                                                                                                                                                  250
Ability to work with others                                                                                                                                                                        249
                                                                                                                                                                                                  ...
Written communication skills, None of the above                                                                                                                                                      2
Ability to solve complex problems, Spoken communication skills, Knowledge of the skill(s) you are studying                                                                                           1
Critical thinking skills, Ability to solve complex problems, Ability to work with others, Written communication skills, Spoken communication skills, None of the above                               1
Critical thinking skills, Ability to solve complex problems, Written communication skills, Spoken communication skills, None of the above                                                            1
Critical thinking skills, Ability to solve complex problems, Ability to work with others, Knowledge of the skill(s) you are studying, None of the above                                              1
Name: Which of these skills/knowledge did your higher education prepare you for?, Length: 69, dtype: int64